/* ************************************************************************************************************************************************************ 
	Import Resource
************************************************************************************************************************************************************ */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300,300italic);
/* ************************************************************************************************************************************************************ 
	Overall
************************************************************************************************************************************************************ */
html {
	color : #FFFFFF;
	font-family : 'Roboto Condensed';
	font-weight : 400;
}
a {
	text-decoration : none;
	color :  #FFFFFF;
}
hr { border-color : #FF91A4; }
@media all and (min-width:1280px) { html { font-size:18px; } }
@media all and (min-width:1024px) and (max-width:1279px) { html { font-size : 36px; } }
@media all and (min-width:800px) and (max-width:1023px) { html { font-size : 28px; } }
@media all and (min-width:640px) and (max-width:799px) { html { font-size : 24px; } }
@media all and (max-width:639px) { html { font-size : 18px; } }
.bold {
	font-size : 125%;
	font-weight : 700;
}
.italic { 
	font-weight : 300;
	font-style : italic;
	font-size : 75%;
}
.semibold { font-weight : 700; }
.semiitalic {
	font-weight : 300;
	font-style : italic;
}
.desp {
	font-weight : 300;
	font-size : 80%;
	margin : 0;
	padding : 0;
	text-align : justify;
}
.center { margin : 0 auto; }
.clear { clear : both; }
/* ************************************************************************************************************************************************************ 
	index.htm
************************************************************************************************************************************************************ */
.main { background : #E99679; }
@media all and (min-width:1280px) {
	.main {
		width : 748px;
		margin : 10px auto;
	}
}
@media all and (max-width:1279px) {
	.main {
		width : 95%;
		padding : 2.5%;
		text-align : center;
		margin-bottom : 10px;
	}
}
.circleAVATAR {
	width : 200px;
	height : 200px;
	background-image : url('../img/avatarbw.jpg');
	border-radius : 100%;
}
@media all and (min-width:1280px) {
	.circleAVATAR {
		float : left;
		margin : 10px 30px 10px 10px;
		transition : background-image 1s ease-in-out;
	}
	.circleAVATAR:hover { background : url('../img/avatar.jpg'); }
}
@media all and (max-width:1279px) { .circleAVATAR { display : inline-block; } }
img.icon { display : inline-block; }
@media all and (min-width:1280px) { 
	img.icon {
		display : inline-block;
		opacity : 0.5;
		transition : opacity 0.5s linear;
	}
	img.icon:hover { opacity : 1; }
}
.iMENU {
	display : inline-block;
	border-radius : 3px;
	background : #FA8072;
	padding : 5px 10px;
	transition : all 0.5s linear;
}
.iMENU:hover { 
	background : #FF91A4;
}
.social img {
	float : left;
	transition : background 0.5s linear;
}
.social img:hover { background : #E99679 !important; }
@media all and (min-width:1280px) {
	.social {
		width : 768px;
		margin : 0 auto;
	}
	.social img {
		width : 238px;
		height : 238px;
	}
	.social>a:nth-child(3n-2)>img { margin : 3.5px 0 10px 13.5px; }
	.social>a:nth-child(3n-1)>img { margin : 3.5px 13.5px 10px 13.5px; }
	.social>a:nth-child(3n)>img { margin : 3.5px 13.5px 10px 0; }
}
@media all and (max-width:1279px) {
	.social img { width : 30%; }
	.social>a:nth-child(3n-2)>img { margin :  0.3em 0 0.3em 2.5%; }
	.social>a:nth-child(3n-1)>img { margin : 0.3em 2.5%; }
	.social>a:nth-child(3n)>img { margin : 0.3em 2.5% 0.3em 0; }
}
/* ************************************************************************************************************************************************************ 
	Menu
************************************************************************************************************************************************************ */
#top { display : none; }
.menuBG {
	width : 100%;
	background : #FFA07A;
	margin : 10px 0;
}
.menu { margin : 0 auto; }
@media all and (min-width:1280px) {
	.menu {
		width : 990px;
		padding : 10px 5px;
	}
}
@media all and (max-width:1279px) {
	.menu {
		width : 98%;
		padding : 1%;
	}
}
@media all and (max-width:1279px) { .ttop { display : none; } }
.arrowup {
	background : #E99679;
	font-size : 14px;
	position : relative;
	width : 1em;
	height : 1em;
	margin-top : 1em;
	opacity : 0.5;
	transition : opacity 0.5s linear;
}
.arrowup::before {
	bottom : 0.8em;
	left : -0.666em;
	position : absolute;
	border-left : 1.2em solid rgba(44, 44, 44, 0);
	border-right : 1.2em solid rgba(44, 44, 44, 0);
	border-bottom : 1em solid #E99679;
	content : "";
}
.arrowup:hover { opacity : 1; }
.ttop {
	position : fixed;
	top : 80px;
	right : 20px;
}
/* ************************************************************************************************************************************************************ 
	Paper
************************************************************************************************************************************************************ */
.paper { background : #E9967A; }
@media all and (min-width:1280px) {
	.paper { 
		width : 980px;
		padding : 10px;
		margin : 0 auto 10px auto;
	}
}
@media all and (max-width:1279px) {
	.paper {
		width : 96%;
		padding : 2%;
	}
}
/* ************************************************************************************************************************************************************ 
	Table
************************************************************************************************************************************************************ */
@media all and (min-width:1280px) {
	.tb{ 
		width : 978px;
		border : 1px solid #FFFFFF;
		display : table; 
		border-collapse:collapse;
	}
	.tbr { display : table-row; }
	.tbc { 
		border : 1px solid #FFFFFF;
		display : table-cell;
		padding : 5px;
	}
	.tbr:first-child>div.tbc {
		background : #FFFFFF;
		color : #FFA07A;
	}
	.tbc:first-child  { width : 160px; }
	.tbc:nth-child(2) { width : 250px; }
}
@media all and (max-width:1279px) {
	.tbr:first-child { display : none; }
	.tbr:nth-child(2n-1) {
		color : #FFFFFF;
		background : #FFA07A;
	}
	.tbr:nth-child(2n) {
		color : #FFA07A;
		background : #FFFFFF;
	}
}
/* ************************************************************************************************************************************************************ 
	Portfolio
************************************************************************************************************************************************************ */
@media all and (min-width:1024px) {
	.field { margin : 0 auto; }
	.mediaFIELD {
		width : 480px;
		height : 360px;
		overflow : hidden;
		float : left;
	}
	.captionFIELD { float : right; }
}
@media all and (min-width:1280px) {
	.field {
		width : 950px;
		padding : 10px;
		transition : all 1s linear;
	}
	.field:hover { box-shadow : 0 0 0.25em 0 #FFFFFF; }
	.captionFIELD {
		width : 450px;
		padding : 0 0 0 20px;
	}
}
@media all and (max-width:1279px) and (min-width:1024px) {
	.field { padding : 0.25em; }
	.captionFIELD { width : 50%; }
}
@media all and (max-width:1023px) {
	.field { 
		padding : 0.5em;
		text-align : center;
	}
	.field:nth-child(2n-1) {
		color : #FFFFFF;
		background : #FFA07A;
	}
	.field:nth-child(2n) {
		color : #FFA07A;
		background : #FFFFFF;
	}
}
.mini {
	float : left;
	text-align : center;
}
@media all and (min-width:1280px) {
	.fixer { 
		width : 950px;
		margin : 0 auto;
	}
	.mini { 
		width : 217px;
		padding : 10.25px;
		transition : all 1s linear;
	}
	.mini:hover { box-shadow : 0 0 5px 0 #FFFFFF; }
}
@media all and (max-width:1279px) {
	.fixer {
		display : inline-block;
		text-align : center;
		overflow : hidden;
	}
	.mini {
		width : 22%;
		padding : 0.25em;
		margin : 0 auto;
	}
}