%title k13elle's Portfolio

%meta{:charset => "utf-8"}
%meta{:name => "author", :content => "Nathapon Vaiyavuthipinyo"}
%meta{:name => "description", :content => "Nathapon Vaiyavuthipinyo 's Summary"}
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}