<style>
  @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Kanit&display=swap');

  h1, h2 {
    font-family: 'Fredericka the Great', cursive;
  }
  
  h1 {
    color: #B51E00;
  }

  h1 > span, h2 > span {
    color: #F78800;
  }

  p {
    font-family: 'Kanit', sans-serif;
  }

  :host {
    background: #B4A98B;
    color: #3F484F;
  }

  a {
    text-decoration: none;
    color: #E65708;
  }
</style>

<h1>Hallo<span>!</span></h1>
<h2>I<span>'</span>m Nathapon<span>,</span></h2>
<h2>a Software Engineer who based in Bangkok<span>.</span></h2>

<p>
  Sorry for Inconveince, I'm quite busy right now.<br>
  If you have any enquires, please leave me <a href="mailto:k13elle@gmail.com">a mail</a>.
</p>